.container {
 text-align: center;

 justify-content: center;
 display: inline-flex;


}

#plot {
 background-color: blue;
}

input[type=text] {
 width: 300px;
}
table {
 border: 2px solid black;
 border-collapse: collapse;
 padding: 3px;
 width: 100%;
}
tr, th, td {
 border: 2px solid black;
 border-collapse: collapse;
 padding: 3px;
}
thead {
 background-color: #ff0000;
 color: #ffffff;
}
.aligntop {
 vertical-align:top;
}
.description {
 font-size: 14px;
 font-weight: bold;

vertical-align: middle;
 text-align: center;
}
.size {
 text-align: center;
}


body {
 color: #fff;
	line-height: 1.6;
	text-align: center;
 font-family: sans-serif;
 font-size: 11pt;
 background-color: navy !important;
}

html {
 font-family: sans-serif;
 font-size: 11pt;

}

form {
 margin: 20px 0;
}