body {
 text-align: center;

 justify-content: center;
display:inline-block;


}
.container {
 text-align: center;

 justify-content: center;
display:inline-block;


}
.page{
 background-color: navy;
}
input[type=text] {
 width: 300px;
}

input {
 padding: 6px;
}

body,
html,
input {
 font-family: sans-serif;
 font-size: 11pt;

}

form {
 margin: 20px 0;
}